a{
    text-decoration: none;
}

.logo-text-0{
    color:rgb(50, 79, 132)
}

.logo-text-1{
    color:rgb(129, 129, 129)
}

.bg-navbar{
    background:#78c7d3;
}

.bg-highlight{
    background:#adb5bd
}